@import '../../styling/import';

.project-modal {
    padding: 30px;  
    height: auto;
    border-radius: 0.25rem;
    background-color: #f7fafc;
    position: fixed;
    top: 3rem;
    overflow: auto; /* Enable scroll if needed */
    width: 100%;
    max-width: calc(100% - 100px);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screenl {
        max-width: 800px;
    }

    &__title {
        font-size: 26px;
        margin-top: 0;
    }
    
    &__image {
        max-width: 100%;
        height: auto;

        @include screenm {
            max-width: 30rem;
        }
    }

    &__content {
        max-width: 40rem;
        text-align: left;
    }

    &__text {
        > div {
            margin: 1.5rem 0;

            &:first-child{
                margin-top: 0;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__tag-list {
        display: flex;
        gap: 15px;
        margin: 20px 0;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__tag {
        background-color: $color--light-grey;
        color: $color--dark-grey;
        border-radius: 10px;
        padding: 10px;
        font-weight: 700;
    }
}